*.json
*.csv
*.xlsx
*.gif
*.jpeg
*.jpg
*.mp4
UL PH nutrition/
UL PH nutrition_converted/
UL PH nutrition2/
UL PH nutrition thumbnail/
service_account/
*.pickle
.vscode/
/logs
/PMI Influencer Data
__pycache__/